<div class="encodercontent">
<h1><?php echo $lang->str( "Cryptool" ); ?></h1>
<p><strong><?php echo $lang->str( "This is the data you wanted to encode:" ); ?></strong></p>
<div id="data"><?php echo $vars['data']; ?></div>

<p><strong><?php echo $lang->str( "Data encoded in type: " ); ?>
<?php echo $lang->str( $vars['type'] ); ?></strong></p>
<div id="encoded"><?php echo $vars['encoded']; ?></div>

</div>
